{% include 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-10 mt-5 mx-auto">
            <div class="text-center">
                <h2 class='mb-0 text-success'>Jayant Raj</h2>
                <a href="tel:+916200500903" class='h6 text-decoration-none text-dark'>+91-6200500903</a><br/>
                <a href="maleto:jayantraj66041@gmail.com" class='h6 text-decoration-none text-dark'>jayantraj66041@gmail.com</a>
                <h3 class='mt-3 text-primary'>Technologies</h3>
                <p class='m-0'>1. Django</p>
                <p class='m-0'>2. Django Rest Framework (DRF)</p>
                <p class='m-0'>3. Bootstrap</p>
                <p class='m-0'>4. HTML</p>
                <h4>If you want to know more about me? <a href="https://drive.google.com/file/d/16N59oBuDeCSZ0uqLNqBglG5XgDb0g5Ai/view?usp=sharing" target="_blank">Click here</a></h4>
            </div>
        </div>
    </div>
</div>
{% endblock content %}